%p
  %label{:for => "source"} outgoing money from:
  = f.select :source_id, @sources
%p
  %label{:for => "outgoing_date"} outgoing date:
  = f.date_select :outgoing_date
%p
  %label{:for => "amount"} Amount:
  = f.text_field :amount
%p
  %label{:for => "detail"} Detail:
  = f.text_field :detail
