-remote_form_for @category_allocation, :url => allocation_collection_url_for(@transaction), :update => :allocations, :position => :bottom, :success => "Effect.Fade($('new_allocation'));$('new_allocation').innerHTML = ' ';"  do |allocation_form|
  %fieldset
    %ul
      %li
        %label{:for => :category} Category
        = allocation_form.select :category_id, @category_options
      %li
        %label{:for => :outgoing_category} Amount
        = allocation_form.text_field :amount
  %fieldset
    %ul
      %il
        = allocation_form.submit "Allocate"
