%ul.itemlevel_of_index
  %li
    = category_item.parent.name if category_item.parent
    = category_item.name
  %li
    = link_to "Delete", outgoing_category_path(category_item), :method => :delete
    = link_to "Edit", edit_outgoing_category_path(category_item)
