%p
  %label{:for => "flush_flushed_date"} Flushed money from:
  = f.select :source_id, @sources
%p
  %label{:for => "flush_flushed_date"} Flushed date:
  = f.date_select :flushed_date
%p
  %label{:for => "flush_amount"} Amount:
  = f.text_field :amount
%p
  %label{:for => "flush_detail"} Detail:
  = f.text_field :detail
