%h1 Creating flush

= error_messages_for :flush

- form_for(:flush, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"

= link_to 'Back', objects_path
