%p
  %label{:for => "account"} incoming money to:
  = f.select :account_id, @accounts
%p
  %label{:for => "transaction_date"} incoming date:
  = f.date_select :transaction_date
%p
  %label{:for => "amount"} Amount:
  = f.text_field :amount
%p
  %label{:for => "detail"} Detail:
  = f.text_field :detail
